<?xml version="1.0" encoding="utf-8" ?>
<XML>
	<RUTA>c:\wamp\www\</RUTA>
	<NOMBRE>Test</NOMBRE>
	<IDIOMAS>
		<ca />
		<es />
	</IDIOMAS>	
	<ELEMENTOS>
		<Contacto>
			<idcontacto type="int" editable="0" />
			<descripcion type="text" editable="1" />
      <pdf type="file" editable="1" />
		</Contacto>
		<Informacio>
			<idinformacio type="int" editable="0"/>
			<descripcion type="text" editable="1" />
			<data type="data"  editable="1" />
		</Informacio>
	</ELEMENTOS>
	<MENU>
		<CONTACTO />
		<INFORMACIO>
			<INFO1 />
			<INFO2 />
		</INFORMACIO>
		<INFORMA2>
			<INFO1 />
			<INFO2 />
		</INFORMA2>
	</MENU>
</XML>