<?xml version="1.0" encoding="utf-8" ?>
<XML>
	<RUTA>C:\Proyectos\PHP\</RUTA>
	<NOMBRE>laraveltest</NOMBRE>
  <DESCRIPCION>Test @!!</DESCRIPCION>
	<IDIOMAS>
    <ca>Català</ca>
    <es>Español</es>
	</IDIOMAS>	
	<ELEMENTOS>
		<Contacto singular="1" descripcion="Contacto">
			<idcontacto type="int"  />
      <descripcion type="textarea" multidioma="1" editable="1">Descripción</descripcion>
      <pdf type="pdf" editable="1" >PDFS</pdf>
		</Contacto>
		<Informacio singular="1" descripcion="Información" >
			<idinformacio type="int"  />
      <descripcion type="text" editable="1">Description</descripcion>
      <data type="date"  editable="1" >Fecha</data>
      <imagen type="imagen"  editable="1">Imagen</imagen>
		</Informacio>
    <archivos_generales singular="0" descripcion="Archivos generales">
      <idarchivos_generales type="int"   />
      <descripcion type="text" editable="1">Descripcion</descripcion>
      <pdf_idpdf type="int"  relacion_hijo="pdf" relacion_campo="idpdf" />
      <HIJOS>
        <pdf singular="1" descripcion="Información">
          <idpdf type="int" />
          <descripcion type="text" editable="1" mostrarIndex="1"></descripcion>
          <url type="text" editable="1"  mostrarEnIndex="1"></url>
        </pdf>
      </HIJOS>
    </archivos_generales>
	</ELEMENTOS>
	<MENU>
		<Contacto descripcion="Contacto"/>
    <archivos_generales descripcion="Archivos generales"></archivos_generales>
		<Informacio descripcion="Informacio">
      <Informacio>Informacio 1</Informacio>
      <Informacio>Informacio 2</Informacio>
		</Informacio>
	</MENU>
</XML>